.DS_Store
**/.vscode/*
.idea
.env
*.pyc
*.pyo
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.mypy_cache/
__pycache__/
.ruff
.envrc
.env
htmlcov/
.coverage
.coverage.*
pytest-coverage.txt
pytest.xml
*,cover
*.log
*.joblib*
